/* ---- Font ---- */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* ---- Global Css ---- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  scroll-behavior: smooth;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  background-color: #F8F9FB;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none !important;
}

p {
  line-height: 1.6;
}

section {
  padding: 1.5rem;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background-color: #000;
}

/* ---- Main Css ---- */
/* Menu */
.menu .container-fluid {
  border-bottom: 4px solid #FF9900;
}

.menu .container-fluid nav .navbar-collapse ul li {
  padding: 0 24px;
}

.menu .container-fluid nav .navbar-collapse ul li a {
  font-weight: 400;
  font-size: 18px;
  color: #808080;
}

.menu .container-fluid .login-register-language p,
.menu .container-fluid .login-register-language div {
  margin: 0 16px;
  margin-bottom: 0;
}

.menu .container-fluid .login-register-language p a {
  font-weight: 400;
  font-size: 18px;
  color: #808080;
}

.menu .container-fluid .login-register-language p:nth-child(1) {
  border-right: 1px solid #E8E9EC;
  padding-right: 25px;
}

.menu .container-fluid .login-register-language p:nth-child(2) {
  border-radius: 20px;
  background: linear-gradient(94.58deg, #FF8A00 0%, #FF5906 101.16%);
  padding: .5rem 1rem .2rem 1rem;
}

.menu .container-fluid .login-register-language p:nth-child(2) a {
  color: #fff;
}

.menu .container-fluid .login-register-language div {
  border: 2px solid #E8E9EC;
  border-radius: 4px;
  padding: .1rem 1rem;
}

.menu .container-fluid .login-register-language div i {
  margin: 3px 0 0 3px;
  color: #808080;
}

/* Why RoundUp */
.why-roundUp .container-xl .one .gr h1 {
  font-weight: 500;
  font-size: 72px;
  color: #FF5906;
}

.why-roundUp .container-xl .two .left .info1-l .l1,
.why-roundUp .container-xl .two .left .info2-l .l2 {
  text-align: end;
}

.why-roundUp .container-xl .two .left .info1-l .l1 h2,
.why-roundUp .container-xl .two .left .info2-l .l2 h2,
.why-roundUp .container-xl .two .right .info1-r .l1 h2,
.why-roundUp .container-xl .two .right .info2-r .l2 h2 {
  font-size: 48px;
  font-weight: 400;
}

.why-roundUp .container-xl .two .left .info1-l .l1 p,
.why-roundUp .container-xl .two .left .info2-l .l2 p,
.why-roundUp .container-xl .two .right .info1-r .l1 p,
.why-roundUp .container-xl .two .right .info2-r .l2 p {
  font-weight: 300;
  font-size: 24px;
  color: #808080;
}

/* About RoundUp price policy */
.roundUp-price-policy {
  background-color: #F8E9E4;
}

.roundUp-price-policy .container-xl .row .title h1 {
  font-weight: 500;
  font-size: 64px;
  color: #FF5906;
}

.roundUp-price-policy .container-xl .row .card-roundup1,
.roundUp-price-policy .container-xl .row .card-roundup2,
.roundUp-price-policy .container-xl .row .card-roundup3 {
  width: 520px;
  height: 610px;
  background-color: #fff;
  position: relative;
}

.roundUp-price-policy .container-xl .row .card-roundup1 h3,
.roundUp-price-policy .container-xl .row .card-roundup2 h3,
.roundUp-price-policy .container-xl .row .card-roundup3 h3 {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem;
  margin-bottom: 0;
}

.roundUp-price-policy .container-xl .row .card-roundup1 h1,
.roundUp-price-policy .container-xl .row .card-roundup2 h1,
.roundUp-price-policy .container-xl .row .card-roundup3 h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 52px;
  color: #FF5906;
}

.roundUp-price-policy .container-xl .row .card-roundup1 p,
.roundUp-price-policy .container-xl .row .card-roundup2 p,
.roundUp-price-policy .container-xl .row .card-roundup3 p {
  font-weight: 300;
  font-size: 26px;
  color: #808080;
}

.roundUp-price-policy .container-xl .row .card-roundup1 .price,
.roundUp-price-policy .container-xl .row .card-roundup2 .price,
.roundUp-price-policy .container-xl .row .card-roundup3 .price {
  padding: 13px 100px;
}

.roundUp-price-policy .container-xl .row .card-roundup1 .price p,
.roundUp-price-policy .container-xl .row .card-roundup2 .price p,
.roundUp-price-policy .container-xl .row .card-roundup3 .price p {
  margin-bottom: 0;
}

.roundUp-price-policy .container-xl .row .card-roundup1 .price P:nth-child(1),
.roundUp-price-policy .container-xl .row .card-roundup2 .price P:nth-child(1),
.roundUp-price-policy .container-xl .row .card-roundup3 .price P:nth-child(1) {
  font-weight: 500;
  font-size: 26px;
  color: #FF5906;
}

.roundUp-price-policy .container-xl .row .card-roundup1 .price p:nth-child(2),
.roundUp-price-policy .container-xl .row .card-roundup2 .price p:nth-child(2),
.roundUp-price-policy .container-xl .row .card-roundup3 .price p:nth-child(2) {
  font-size: 14px;
}

.roundUp-price-policy .container-xl .row .card-roundup1 h3 {
  background: rgba(255, 153, 0, 0.2);
}

.roundUp-price-policy .container-xl .row .card-roundup2 h3 {
  background: rgba(0, 122, 255, 0.2);
}

.roundUp-price-policy .container-xl .row .card-roundup3 h3 {
  background: rgba(52, 199, 89, 0.2);
}

.roundUp-price-policy .container-xl .row .gr h2 {
  font-weight: 400;
  font-size: 48px;
  color: #FF5906;
}

.roundUp-price-policy .container-xl .row .gr P {
  font-weight: 300;
  font-size: 18px;
  color: #808080;
}

/* Payment */
.payment .container-xl .row .title h2 {
  font-weight: 500;
  font-size: 64px;
  color: #FF5906;
}

.payment .container-xl .row .one .gr1 p strong,
.payment .container-xl .row .one .gr2 p strong,
.payment .container-xl .row .one .gr3 p strong {
  font-weight: 500;
  font-size: 24px;
}

.payment .container-xl .row .one .gr1 p:nth-child(2),
.payment .container-xl .row .one .gr2 p:nth-child(2) {
  font-size: 24px;
  font-weight: 300;
  color: #808080;
}

.payment .container-xl .row .one .gr3 .custom-control-input:checked ~ .custom-control-label::before,
.payment .container-xl .row .one .gr4 .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #FF9900 !important;
  background-color: #FF9900 !important;
}

.payment .container-xl .row .two .card {
  border: 3px solid #FF5906;
}

.payment .container-xl .row .two .gr1 p:nth-child(2),
.payment .container-xl .row .two .gr2 p:nth-child(2) {
  color: #808080;
}

.payment .container-xl .row .two .gr3 p:nth-child(2) {
  color: #FF5906;
}

.payment .container-xl .row .two a {
  background-color: #FF5906;
  border-color: #FF5906;
}

/* Footer */
.footer {
  margin-top: 124px;
  background-color: #464646;
  height: auto;
}

.footer .container-xl .style-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container-xl .style-footer .desc p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-top: 24px;
}

.footer .container-xl .style-footer .about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container-xl .style-footer .about-us .company h1,
.footer .container-xl .style-footer .about-us .policies h1,
.footer .container-xl .style-footer .about-us .support h1 {
  text-decoration: underline;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.footer .container-xl .style-footer .about-us .company p,
.footer .container-xl .style-footer .about-us .policies p,
.footer .container-xl .style-footer .about-us .support p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.footer .container-xl .line {
  height: 2px;
  background-color: #fff;
}

.footer .container-xl .info {
  margin-top: 32px;
}

.footer .container-xl .info p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

/* ------- Media Query ------- */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Why RoundUp */
  .why-roundUp .container-xl .one .gr h1 {
    font-size: 28.8px;
  }
  .why-roundUp .container-xl .one .gr div {
    width: 141px;
    height: 32px;
  }
  .why-roundUp .container-xl .two .left .info1-l .l1 h2,
  .why-roundUp .container-xl .two .left .info2-l .l2 h2,
  .why-roundUp .container-xl .two .right .info1-r .l1 h2,
  .why-roundUp .container-xl .two .right .info2-r .l2 h2 {
    font-size: 19.2px;
    font-weight: 400;
  }
  .why-roundUp .container-xl .two .left .info1-l .l1 p,
  .why-roundUp .container-xl .two .left .info2-l .l2 p,
  .why-roundUp .container-xl .two .right .info1-r .l1 p,
  .why-roundUp .container-xl .two .right .info2-r .l2 p {
    font-weight: 300;
    font-size: 9.6px;
  }
  .why-roundUp .container-xl .two .left .info1-l .r1,
  .why-roundUp .container-xl .two .left .info2-l .r2,
  .why-roundUp .container-xl .two .right .info1-r .r1,
  .why-roundUp .container-xl .two .right .info2-r .r2 {
    width: 131px;
    height: 96px;
  }
  .why-roundUp .container-xl .two .right {
    padding-top: 40px;
  }
  /* About RoundUp price policy */
  .roundUp-price-policy .container-xl .row .title h1 {
    font-size: 25.6px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1,
  .roundUp-price-policy .container-xl .row .card-roundup2,
  .roundUp-price-policy .container-xl .row .card-roundup3 {
    width: 250px;
    height: 330px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1 h3,
  .roundUp-price-policy .container-xl .row .card-roundup2 h3,
  .roundUp-price-policy .container-xl .row .card-roundup3 h3 {
    font-size: 13px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1 h1,
  .roundUp-price-policy .container-xl .row .card-roundup2 h1,
  .roundUp-price-policy .container-xl .row .card-roundup3 h1 {
    font-size: 20.73px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1 p,
  .roundUp-price-policy .container-xl .row .card-roundup2 p,
  .roundUp-price-policy .container-xl .row .card-roundup3 p {
    font-size: 10.36px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1 .price p:nth-child(1),
  .roundUp-price-policy .container-xl .row .card-roundup2 .price p:nth-child(1),
  .roundUp-price-policy .container-xl .row .card-roundup3 .price p:nth-child(1) {
    font-size: 10px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1 .price P:nth-child(2),
  .roundUp-price-policy .container-xl .row .card-roundup2 .price P:nth-child(2),
  .roundUp-price-policy .container-xl .row .card-roundup3 .price P:nth-child(2) {
    font-size: 7px;
  }
  .roundUp-price-policy .container-xl .row .right {
    padding-top: 150px;
  }
  .roundUp-price-policy .container-xl .row .right .gr h2 {
    font-size: 19.2px;
  }
  .roundUp-price-policy .container-xl .row .right .gr p {
    font-size: 7.2px;
  }
  /* Make a payment */
  .payment .container-xl .row .title h2 {
    font-size: 25.6px;
  }
  .payment .container-xl .row .one .gr1 p strong,
  .payment .container-xl .row .one .gr2 p strong,
  .payment .container-xl .row .one .gr3 p strong {
    font-size: 9.6px;
  }
  .payment .container-xl .row .one .gr1 p,
  .payment .container-xl .row .one .gr2 p,
  .payment .container-xl .row .one .gr3 p {
    margin-bottom: 0;
  }
  .payment .container-xl .row .one .gr1 p:nth-child(2),
  .payment .container-xl .row .one .gr2 p:nth-child(2) {
    font-size: 9.6px;
    margin-bottom: 0;
    padding-top: 5px;
  }
  .payment .container-xl .row .one .gr3 .d-flex label {
    font-size: 9.6px;
    color: #808080;
    padding-top: 5px;
  }
  .payment .container-xl .row .one .gr4 label {
    font-size: 9.6px;
  }
  .payment .container-xl .row .two .card .card-title {
    font-size: 12.8px;
  }
  .payment .container-xl .row .two .card .gr1 p,
  .payment .container-xl .row .two .card .gr2 p,
  .payment .container-xl .row .two .card .gr3 p {
    font-size: 9.6px;
  }
  .payment .container-xl .row .two .card a {
    font-size: 12.8px;
  }
}

@media (max-width: 575.98px) {
  /* Menu */
  .menu .container-fluid nav .navbar-collapse ul li a,
  .menu .container-fluid nav .navbar-collapse .login-register-language p a {
    font-size: 12px;
  }
  /* Why RoundUp */
  .why-roundUp .container-xl .one .gr h1 {
    font-size: 24px;
  }
  .why-roundUp .container-xl .one .gr div {
    width: 131px;
    height: 30px;
  }
  .why-roundUp .container-xl .two .left .info2-l .r2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .why-roundUp .container-xl .two .left .info2-l .l2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: start;
  }
  .why-roundUp .container-xl .two .right .info1-r .r1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .why-roundUp .container-xl .two .right .info1-r .l1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: end;
  }
  .why-roundUp .container-xl .two .left .info1-l .l1 h2,
  .why-roundUp .container-xl .two .left .info2-l .l2 h2,
  .why-roundUp .container-xl .two .right .info1-r .l1 h2,
  .why-roundUp .container-xl .two .right .info2-r .l2 h2 {
    font-size: 15.2px;
  }
  .why-roundUp .container-xl .two .left .info1-l .l1 p,
  .why-roundUp .container-xl .two .left .info2-l .l2 p,
  .why-roundUp .container-xl .two .right .info1-r .l1 p,
  .why-roundUp .container-xl .two .right .info2-r .l2 p {
    font-size: 9.6px;
  }
  /* About RoundUp price policy */
  .roundUp-price-policy .container-xl .row .title h1 {
    font-size: 24px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1,
  .roundUp-price-policy .container-xl .row .card-roundup2,
  .roundUp-price-policy .container-xl .row .card-roundup3 {
    height: 400px;
    width: 700px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1 h3,
  .roundUp-price-policy .container-xl .row .card-roundup2 h3,
  .roundUp-price-policy .container-xl .row .card-roundup3 h3 {
    font-size: 11px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1 h1,
  .roundUp-price-policy .container-xl .row .card-roundup2 h1,
  .roundUp-price-policy .container-xl .row .card-roundup3 h1 {
    font-size: 18.5px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1 p,
  .roundUp-price-policy .container-xl .row .card-roundup2 p,
  .roundUp-price-policy .container-xl .row .card-roundup3 p {
    font-size: 9.2px;
    padding-top: 10px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1 .price P:nth-child(1),
  .roundUp-price-policy .container-xl .row .card-roundup2 .price P:nth-child(1),
  .roundUp-price-policy .container-xl .row .card-roundup3 .price P:nth-child(1) {
    font-size: 14px;
  }
  .roundUp-price-policy .container-xl .row .card-roundup1 .price p:nth-child(2),
  .roundUp-price-policy .container-xl .row .card-roundup2 .price p:nth-child(2),
  .roundUp-price-policy .container-xl .row .card-roundup3 .price p:nth-child(2) {
    font-size: 9.2px;
  }
  .roundUp-price-policy .container-xl .row .right .gr h2 {
    font-size: 18px;
  }
  .roundUp-price-policy .container-xl .row .right .gr p {
    font-size: 12px;
  }
  /* Make a payment */
  .payment .container-xl .row .title h2 {
    font-size: 24px;
  }
  .payment .container-xl .row .one .gr1 p strong,
  .payment .container-xl .row .one .gr2 p strong,
  .payment .container-xl .row .one .gr3 p strong {
    font-size: 12px;
  }
  .payment .container-xl .row .one .gr1 p:nth-child(2),
  .payment .container-xl .row .one .gr2 p:nth-child(2) {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1560px !important;
  }
}
/*# sourceMappingURL=style.css.map */