/* ---- Font ---- */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* ---- Global Css ---- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    scroll-behavior: smooth;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    background-color: #F8F9FB;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none !important;
}

p {
    line-height: 1.6;
}

// section {
//     padding: 1.5rem;
// }

/* ---- Main Css ---- */

/* Menu */
.menu {
    .container-fluid {
        border-bottom: 4px solid #FF9900;

        nav {
            .navbar-collapse {
                ul {
                    li {
                        a {
                            font-weight: 400;
                            font-size: 18px;
                            color: #808080;
                        }

                        padding: 0 24px;
                    }
                }
            }
        }

        .login-register-language {

            p,
            div {
                margin: 0 16px;
                margin-bottom: 0;
            }

            p a {
                font-weight: 400;
                font-size: 18px;
                color: #808080;
            }

            p:nth-child(1) {
                border-right: 1px solid #E8E9EC;
                padding-right: 25px;
            }

            p:nth-child(2) {
                a {
                    color: #fff;
                }

                border-radius: 20px;
                background: linear-gradient(94.58deg, #FF8A00 0%, #FF5906 101.16%);
                padding: .5rem 1rem .2rem 1rem;
            }

            div {
                border: 2px solid #E8E9EC;
                border-radius: 4px;
                padding: .1rem 1rem;

                i {
                    margin: 3px 0 0 3px;
                    color: #808080;
                }
            }
        }
    }
}

/* Banner */
.banner {
    padding: 0;

    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
        position: relative;

        .background {
            width: 100%;
            height: 550px;
            background: url(../img/bannerimg.png) center no-repeat;
            background-size: cover;
        }

        .card-one {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);

            width: 769px !important;
            height: 389px;

            border-bottom-left-radius: 40px;
            border-top-right-radius: 40px;

            .card-body {
                div {
                    width: 255px;
                    height: 58px;
                }

                p {
                    font-size: 24px;
                    color: #808080;
                }

                .gr-btn {
                    width: 600px;
                    padding-top: 100px;

                    >a {
                        width: 290px;
                        height: 53px;
                        padding-top: 15px;
                    }

                    .btn-outline-secondary:hover {
                        background-color: #FF5906;
                        border-color: #FF5906;
                    }
                }
            }
        }

        .card-two {
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translateY(-30%);

            width: 550px !important;
            height: 350px;

            .card-body {
                position: relative;

                .d-flex {

                    h5 {
                        font-size: 32px;
                        font-weight: normal;
                        color: #000000;
                    }

                    p {
                        font-size: 24px;
                        color: #000000;
                        font-weight: 300;

                        span {
                            color: #FF5906;
                        }
                    }

                    .dropdown {
                        .btn-outline-secondary:hover {
                            background-color: transparent;
                        }

                        button {
                            font-size: 24px;
                            color: #000000;
                            font-weight: 300;

                            span {
                                color: #FF5906;
                            }
                        }
                    }

                    .gr-btn {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        width: 550px;
                        padding-top: 100px;

                        >a {
                            width: 50%;
                            height: 53px;
                            padding-top: 15px;
                        }

                        .card-link+.card-link {
                            margin-left: 0;
                        }

                        .btn-secondary:hover {
                            color: #fff;
                            border-color: #FF5906;
                            background-color: #FF5906;
                        }
                    }
                }
            }
        }
    }
}

/* ROUND UP's own know-how */
.own-know-how {
    .container-xl {
        .row {
            padding: 80px;
            background-color: #fff;
            border-radius: 30px;

            .left {
                div {
                    width: 520px;
                    height: 520px;
                }
            }

            .right {
                h2 {
                    font-weight: 500;
                    font-size: 40px;
                    color: #FF5906;
                }

                p {
                    font-size: 16px;
                    color: #18191F;
                }

                .btn-secondary {
                    background-color: #FF5906;
                    border-color: #FF5906;
                    padding-top: 10px;

                    display: inline !important;
                }
            }
        }
    }
}

/* Reliable */
.reliable {
    .container-xl {
        .row {
            padding: 80px;
            background-color: #fff;
            border-radius: 30px;

            .left {
                h2 {
                    font-size: 40px;
                    font-weight: 500;
                    color: #FF5906;
                }

                h6 {
                    font-size: 18px;
                    font-weight: normal;
                    color: #808080;
                }

                p {
                    font-weight: 500;
                    font-size: 20px;
                    color: #18191F;

                    span {
                        font-size: 16px;
                        font-weight: 300;
                        color: #18191F;
                    }
                }

                .btn-secondary {
                    background-color: #FF5906;
                    border-color: #FF5906;
                }
            }
        }
    }
}

/* Subscribe */
.subscribe {
    .container-xl {
        .row {
            .left {
                padding-left: 0;
                padding-right: 0;
            }

            .right {
                background-color: #FF5906;

                div {
                    padding: 20px;
                    color: #F8F9FB;

                    h2 {
                        font-size: 48px;
                    }

                    h6 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 18px;
                    }

                    .btn-light {
                        background-color: #fff;
                        border-color: #fff;
                        color: #FF5906;
                    }
                }
            }
        }
    }
}

/* Select-a-plan */
.select-plan {
    .container-xl {
        .row {
            .title h2 {
                font-size: 36px;
                color: #FF5906;
            }

            .card-roundup1,
            .card-roundup2,
            .card-roundup3 {
                width: 490px;
                height: 610px;

                background-color: #fff;
                position: relative;

                h3 {
                    font-weight: 500;
                    font-size: 30px;
                    text-transform: uppercase;
                    padding: 1rem;
                    margin-bottom: 0;
                }

                h1 {
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 52px;
                    color: #FF5906;
                }

                p {
                    font-weight: 300;
                    font-size: 26px;
                    color: #808080;
                }

                .price {
                    padding: 13px 100px;

                    p {
                        margin-bottom: 0;
                    }

                    P:nth-child(1) {
                        font-weight: 500;
                        font-size: 26px;
                        color: #FF5906;
                    }

                    p:nth-child(2) {
                        font-size: 14px;
                    }
                }
            }

            .card-roundup1 {
                h3 {
                    background: rgba(255, 153, 0, 0.2);
                }
            }

            .card-roundup2 {
                h3 {
                    background: rgba(0, 122, 255, 0.2);
                }
            }

            .card-roundup3 {
                h3 {
                    background: rgba(52, 199, 89, 0.2);
                }
            }

            .gr {
                h2 {
                    font-weight: 400;
                    font-size: 48px;
                    color: #FF5906;
                }

                P {
                    font-weight: 300;
                    font-size: 18px;
                    color: #808080;
                }
            }
        }
    }
}


/* Footer */
.footer {
    margin-top: 124px;
    background-color: #464646;
    height: auto;

    .container-xl {

        .style-footer {
            justify-content: space-between;

            .desc {
                p {
                    font-weight: 400;
                    font-size: 16px;
                    color: #fff;
                    margin-top: 24px;
                }
            }

            .about-us {
                display: flex;
                justify-content: space-between;

                .company,
                .policies,
                .support {
                    h1 {
                        text-decoration: underline;
                        font-weight: 700;
                        font-size: 16px;
                        color: #fff;
                    }

                    p {
                        font-weight: 400;
                        font-size: 16px;
                        color: #fff;
                    }
                }
            }
        }

        .line {
            height: 2px;
            background-color: #fff;
        }

        .info {
            margin-top: 32px;

            p {
                font-weight: 400;
                font-size: 16px;
                color: #fff;
            }
        }
    }
}

/* Media */
@media (min-width: 1200px) {
    .container-xl {
        max-width: 1560px !important;
    }
}